@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: "Source Sans Pro Semi-Bold";
    src: url(../fonts/SourceSansPro-Bold.ttf);
}

@font-face {
    font-family: "KaTeX";
    src: url(../fonts/KaTeX_Caligraphic-Regular.ttf);
}

html {
    height: 20000px;
}


.css-c34i5s {
    border-bottom: 1px solid rgba(250, 250, 250, 0.1);
    border-right: 1px solid rgba(250, 250, 250, 0.1);
    vertical-align: middle;
    padding: 0.25rem 0.375rem;
    font-weight: 400;
    color: rgba(250, 250, 250, 0.6);
}

.css-ffhzg2 {
    position: absolute;
    background: rgb(14, 17, 23);
    color: rgb(250, 250, 250);
    inset: 0px;
    overflow: hidden;
}

.css-4sszyo {
    border-bottom: 1px solid rgba(250, 250, 250, 0.1);
    border-right: 1px solid rgba(250, 250, 250, 0.1);
    vertical-align: middle;
    padding: 0.25rem 0.375rem;
    font-weight: 400;

}

.css-ocqkz7 {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: stretch;
    align-items: stretch;
    gap: 1rem;
}

.css-1r6slb0 {
    /* background: blue; */

    width: calc(33.3333% - 1rem);
    flex: 1 1 calc(33.3333% - 1rem);
}

.css-1ec096l {
    font-size: 1rem;
    font-family: "Source Sans Pro", sans-serif;
    padding: 0.25rem 0.375rem;

    /* background: red; */
    width: 100%;
    line-height: 1.5;
    /* overflow: overlay; */
}

thead tr th:first-child {
    display: none
}

tbody th {
    display: none
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0px;
}

*,
::before,
::after {
    box-sizing: border-box;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

.css-zuelfj {
    width: 100%;
    margin-bottom: 1rem;
    color: rgb(250, 250, 250);
    border-collapse: collapse;
    border: 1px solid rgba(250, 250, 250, 0.1);
}

table {
    caption-side: bottom;
    border-collapse: collapse;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

.css-zuelfj {
    width: 100%;
    margin-bottom: 1rem;
    color: rgb(250, 250, 250);
    border-collapse: collapse;
    border: 1px solid rgba(250, 250, 250, 0.1);}




::-webkit-scrollbar {
    background: transparent;
    border-radius: 100px;
    height: 6px;
    width: 6px;


}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;

}

body {

    background: rgb(14, 17, 23);
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    /* overflow: hidden; */
    /* /* padding-left: 5rem; */
    /* padding-right: 5rem; */

}

h1 {
    font-family: "Source Sans Pro Semi-Bold", sans-serif;
    font-size: 2.75rem;
    color: #757575;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1;
}

h2 {
    font-size: 2.25rem;
    font-weight: 650;
    color: #757575;
    margin-bottom: 20px;
}

h3 {
    color: #757575;
}

p {
    margin: 0px 0px 1rem;
    padding: 0px;
    font-size: 1.4rem;
    font-weight: 20;
    text-align: justify;
    line-height: 1.6;
}

.blog {
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 4rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navl {
    float: left;
}

.navr {
    float: right;
}

li a {
    display: block;
    padding: 8px;
    text-decoration: none;
}

.nava {
    /* color: #757575; */
    color: rgb(245, 93, 73);
    font-size: 18px;
}

.fancybutton {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 1.5em;
    overflow: hidden;
    transition: 0.2s;
}

.fancybutton:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

.fancybutton span {
    position: absolute;
    display: block;
}

.fancybutton span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.fancybutton:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.fancybutton span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.fancybutton:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.fancybutton span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.fancybutton:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.fancybutton span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

.fancybutton:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.logo {
    font-size: 2.4rem;
    font-weight: 700;
    /*   letter-spacing: 0px; */
    display: flex;
    justify-content: center;
    position: relative;
    top: 150px;
}


.container {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    position: relative;
    /* top: 210px; */
}

.post {
    border-style: solid;
    border-color: rgb(117, 117, 117);
    border-radius: 3px;

    width: 80%;
}